# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Runtime / données locales
data/
*.log

# OS
.DS_Store

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Deploy: fichiers rendus par le Makefile (envsubst / CORS)
deploy/.*.rendered.*
